#parent {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 1340px;
}
#parent > div {
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #696989;
}