#parent {
	display: grid;
	grid-template-columns: 50px 75px 100px 200px 250px;
	border: 2px solid #696989;
	padding: 10px;
	width: 675px;
}
#parent > div {
	padding: 10px;
	border: 1px solid #696989;
}