#parent {
	width: 200px;
	height: 250px;
	border: 1px solid red;
}
#child {
	margin-top:    30px; /* сверху */
	margin-right:  40px; /* справа */
	margin-bottom: 30px; /* снизу */
	margin-left:   40px; /* слева */
	height: 100px;
	border: 1px solid green;
}