#menu {
	display: grid;
	grid-template-columns: repeat(5, 130px);
	width: 700px;
	height: 50px;
	background-color: rgb(99, 143, 99);
}
#menu a {
	display: flex;
	font: 15px Arial;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: rgb(99, 143, 99);
}
#menu a:hover, #menu a.active {
	color: rgb(239, 234, 234);
	background-color: rgba(49, 103, 76, 0.752);
}