.parent {
    margin: 20px auto;   
	display: flex;
	width: 900px;
	height: 400px;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	border: 1px solid red;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}