.parent {
    margin: 20px auto;   
	display: flex;
	flex-direction: row-reverse;
	width: 900px;
	height: 400px;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid red;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}