#wrapper {
	width: 800px;
	margin: 50px auto;
	border: 1px solid black;
}


#menu {
	display: flex;
	margin-bottom: 20px;
	background-color: #484848;
}
#menu a {
	margin: 0 5px;
	padding: 10px 25px;
	text-decoration: none;
	color: #fff;
	font: bold 14px Arial;
}
#menu a:hover, #menu a.active {
	color: #484848;
	background-color: #fff;
}

#content {
	padding: 0 5px 0px;
    
}
#content h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}
#content p {
	margin-bottom: 5px;
	text-align: justify;
    font: 18px "Times New Roman";
}