p {
	color: red;
    text-align: justify;
	width: 300px;
}
h1 {color: green}
h2 {color: blue}
h3 {color: red}
h4 {color: rgb(255, 236, 114)}
h5 {color: #ffB6C1}
td {width:400px; height:300px;}
th {
	text-align: left;
}

table {
	width: 400px;
} 